/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

/* GAME BOX */
.game-box {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.box {
    height: 40px;
    width: 40px;
    margin: 5px;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
    transition: transform .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    transform: scale(1.1);
}
